h1 {
    font-size: 20px;
}
h2 {
    font-size: 10px;
}
.team-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px; /* Adjust the margin to create a larger gap */
}
.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score-buttons {
    display: flex;
    align-items: center;
}
.buttons {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.question {
    display: flex;
    justify-content: space-between;
}
.left, .right{
    width: 45%;
}